@import "./variables";
@import "./mixin";
@import "./element-ui";
@import "./loading";

$width: 1140px;
$headerHeight: 60px;
$sideBarWidth: 210px;
$activeColor: #409EFF;

*,
*:before,
*:after {
    box-sizing: inherit;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    outline: none;
    text-decoration: none;
}

div:focus {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

body {
    height: 100%;
    font-size: 14px;
    background: rgba(245, 248, 251, 1);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
    font-weight: 700;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#app, .portal-wrapper {
    height: 100%;
    overflow: hidden;
}

.portal-wrapper {
    &.noHeader {
        .portal-main {
            top: 0;
        }
    }
    &.hasBreadcrumb {
        .content {
            padding-top: 0;
        }
    }
    .portal-header {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 10;
        height: $headerHeight;
        color: $color-darkgray;
        background-color: #fff;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .06);
        border: 1px solid #e4e7ed;
        @include flexbox;
        .logo-wrapper {
            width: $sideBarWidth;
            text-align: center;

            img {
                width: 80px;
            }
        }
        .nav-wrapper {
            list-style: none;
            margin: 0;
            overflow: hidden;
            .nav-item {
                list-style: none;
                float: left;
                margin-right: 20px;
            }
            .nav-item-title {
                color: rgba(10,18,32,.64);
                display: block;
                height: $headerHeight;
                line-height: $headerHeight;
                width: 80px;
                text-align: center;
                position: relative;

                &.router-link-active {
                    color: #108ee9;
                    &::after {
                        content: '  ';
                        display: block;
                        position: absolute;
                        left: 0;
                        height: 2px;
                        bottom: 0;
                        width: 100%;
                        background-color: #108ee9;
                    }
                }
            }
        }
        .main-wrapper {
            @include flex-1;
        }
        .avatar-wrapper {
            margin-right: 10px;
            .avatar {
                width: 30px;
                border-radius: 100%;
            }
        }
        .user-wrapper {
            margin-right: 20px;
            .title {
                color: #8492a6;
            }

        }
    }

    .portal-main {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        overflow: hidden;
        top: $headerHeight;

        &.scroll-y {
            overflow-y: auto;
        }
    }
    .portal-sidebar {
        width: $sideBarWidth;
        z-index: 5;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .06), 2px 2px 8px 0 rgba(0, 0, 0, .1);
        background-color: #fff;
        overflow: hidden;
        overflow-y: auto;

        .portal-sidebar-content {
            min-height: 100%;
            display: flex;
            flex-direction: column;

            .head {
                position: relative;
            }
            .main {
                flex:1
            }
            .title {
                text-align: center;
                height: 70px;
                line-height: 70px;
                font-weight: bold;
                font-size: 16px;
                color: $color-primary;
            }
            .foot {
                text-align: center;

                .avatar {
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                }
                .user-name {
                    line-height: 24px;
                    color: #999;
                }
                .loginout {
                    height: 35px;
                    line-height: 35px;
                    border-top: 1px solid #ddd;
                    cursor: pointer;
                    color: #999;
                }
            }
        }
        .portal-menu {
            .el-menu {
                width: 100%;
            }
            .svg-icon {
                width: 1em;
                height: 1em;
                vertical-align: -0.15em;
                fill: currentColor;
                overflow: hidden;
                margin-right: 16px;
            }
        }

    }
    .portal-sidebar::-webkit-scrollbar {
        width: 0;
    }
    .portal-content {
        position: absolute;
        left: $sideBarWidth;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        overflow-y: auto;
        transition: left .1s ease-in-out;

    }
    .portal-content-view {
    }
    .portal-son {
        height: 100%;
        position: relative;
    }

    .wrapper {
        width: $width;
        margin: 0 auto;
    }
    .content {
        padding: 20px;

        .filter-container, .filter-container .head, .operate-container, .table-list-container, .data-container {
            margin-bottom: 15px;
        }
    }

    .icon {
        width: 20px;
        height: 20px;
        margin-right: 15px;
        background-repeat: no-repeat;
        background-size: cover;
        vertical-align: middle;

        &.icon-sidebar-toggle {
            background-image: url("../assets/img/icon_zhankai@2x.png");
        }
    }
    .router-link-active {
        color: $activeColor;
    }
}

#app {
    .hideSidebar {
        .portal-sidebar {
            width: 54px !important;
            .portal-menu {
                width: auto;
            }
        }
        .portal-content {
            left: 54px;
        }

        .submenu-title-noDropdown {
            padding: 0 !important;
            position: relative;

            .svg-icon {
                margin-left: 20px;
            }
            .el-tooltip {
                padding: 0 !important;

                .svg-icon {
                    margin-left: 20px;
                }
            }
        }

        .el-submenu {
            overflow: hidden;

            & > .el-submenu__title {
                padding: 0 !important;

                .svg-icon {
                    margin-left: 20px;
                }

                .el-submenu__icon-arrow {
                    display: none;
                }
            }
        }

        .el-menu--collapse {
            .title {
                height: 0;
                width: 0;
                overflow: hidden;
                visibility: hidden;
                display: inline-block;
            }
            .el-submenu {
                & > .el-submenu__title {
                    & > span {
                        height: 0;
                        width: 0;
                        overflow: hidden;
                        visibility: hidden;
                        display: inline-block;
                    }
                }
            }
        }
    }
}

// when menu collapsed
.el-menu--vertical {
    & > .el-menu {
        .svg-icon {
            margin-right: 16px;
        }
    }

    //.nest-menu .el-submenu>.el-submenu__title,
    //.el-menu-item {
    //    &:hover {
    //        // you can use $subMenuHover
    //        background-color: $menuHover !important;
    //    }
    //}
    //
    //// the scroll bar appears when the subMenu is too long
    //>.el-menu--popup {
    //    max-height: 100vh;
    //    overflow-y: auto;
    //
    //    &::-webkit-scrollbar-track-piece {
    //        background: #d3dce6;
    //    }
    //
    //    &::-webkit-scrollbar {
    //        width: 6px;
    //    }
    //
    //    &::-webkit-scrollbar-thumb {
    //        background: #99a9bf;
    //        border-radius: 20px;
    //    }
    //}
}



